.intro-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  overflow: hidden;
}

.intro {
  margin: 5rem;
  animation: zoom 6s ease-in 0s forwards;
}

@keyframes zoom {
  0% {
    transform: scale(0.6);
  }

  33% {
    tranform: scale(0.8);
  }

  66% {
    transform: scale(1);
  }

  69% {
    transform: scale(60);
  }

  100% {
    transform: scale(60);
  }
}

.intro path {
  fill: transparent;
  stroke: var(--theme-primary-text);
}

.intro .letter-S {
  stroke-dasharray: 813;
  stroke-dashoffset: 813;
  animation: first 1.7s cubic-bezier(0.71, 0.02, 0.68, 0.19) forwards,
    blink 1.7s linear forwards;
}

@keyframes first {
  0% {
    stroke-dashoffset: 813;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.intro .letter-a {
  stroke-dasharray: 329;
  stroke-dashoffset: 329;
  animation: second 0.8s cubic-bezier(0.63, 0.01, 0.36, 1) 1.3s forwards,
    blink 0.8s linear 1.3s forwards;
}

@keyframes second {
  0% {
    stroke-dashoffset: 329;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.intro .letter-main {
  stroke-dasharray: 1046;
  stroke-dashoffset: 1046;
  animation: main 1.25s cubic-bezier(0.64, 0.01, 0.43, 0.98) 1.75s forwards,
    blink 1.65s linear 1.65s forwards;
}

@keyframes main {
  0% {
    stroke-dashoffset: 1046;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.intro .letter-ai {
  stroke-dasharray: 139;
  stroke-dashoffset: 139;
  animation: ai 0.7s cubic-bezier(0, -0.01, 0.28, 0.74) 2.8s forwards,
    blink 0.7s linear 2.8s forwards;
}

@keyframes ai {
  0% {
    stroke-dashoffset: 139;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.intro .dot {
  stroke-dasharray: 51;
  stroke-dashoffset: 51;
  animation: dots 0.5s ease-in 3.5s forwards, blink 0.5s linear 3.2s forwards;
}

@keyframes dots {
  0% {
    stroke-dashoffset: 51;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes blink {
  80% {
    fill: transparent;
  }

  82% {
    fill: var(--theme-primary-text);
  }
  83% {
    fill: transparent;
  }

  85% {
    fill: transparent;
  }
  87% {
    fill: var(--theme-primary-text);
  }

  90% {
    fill: var(--theme-primary-text);
  }
  92% {
    fill: transparent;
  }
  93% {
    fill: var(--theme-primary-text);
  }
  95% {
    fill: transparent;
  }

  100% {
    fill: var(--theme-primary-text);
  }
}
