.thanks-container {
  display: grid;
  height: 90vh;
  place-items: center;
}

.thanks h1 {
  color: var(--theme-primary-text);
  font-size: calc(1vw + 2.75rem);
  letter-spacing: 0.35rem;
}

.thanks h2 {
  color: var(--theme-primary-text);
  font-size: calc(1vw + 1rem);
  letter-spacing: 0.25rem;
  text-align: center;
}

.thanks-container button {
  margin: 1rem;
  padding: 1rem 3vw;
  font-size: 1.5em;
  letter-spacing: 0.07em;
  color: var(--theme-background);
  background-color: var(--theme-primary-text);
  opacity: 0.75;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.thanks-container button:hover {
  opacity: 1;
}

@media screen and (max-width: 850px) {
  .thanks h1 {
    font-size: calc(1vw + 2rem);
  }

  .thanks h2 {
    font-size: calc(1vw + 1.25rem);
  }
}

@media screen and (max-width: 450px) {
  .thanks h1 {
    font-size: calc(1vw + 1rem);
    letter-spacing: 0.15rem;
  }

  .thanks h2 {
    font-size: calc(1vw + 0.75rem);
    letter-spacing: 0.1;
  }
}
