.work-container {
  display: grid;
  grid-template-rows: auto auto;
  transform: translateY(2%);
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.work-heading {
  grid-row-start: 1;
  font-size: clamp(1.25em, 2.25vw + 1rem, 5.75em);
  color: var(--theme-primary-text);
  text-align: center;
  margin: 1rem;
  user-select: none;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  place-items: center;
}

.project {
  background-size: 30vw 20rem;
  opacity: 0.95;
}

.project-1 {
  background-image: url(../../img/Crypto\ Alerts.png);
}

.project-2 {
  background-image: url(../../img/Algorithm\ Visualizer.png);
}

.project-3 {
  background-image: url(../../img/Forkify.png);
}

.project-4 {
  background-image: url(../../img/Quote.png);
}

.project-5 {
  background-image: url(../../img/Mapty.png);
}

@media screen and (max-width: 710px) {
  .projects {
    grid-template-rows: auto;
    grid-template-columns: auto;
  }

  .project {
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.95;
  }
}
